# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local configurations and credentials
screenshots/
logs/
auth_info_baileys/
chrome_user_data/
whatsapp_config.json
resultados.json
last_qr.txt
/*.csv
data/login_correcto.csv
data/login_incorrecto.csv
data/ipgood.txt
data/ipneg.txt
prueba*.py
CloudPeler/

# Node dependencies
node_modules/
package-lock.json

# IDEs
.idea/
.vscode/
